.top-section {
  position: relative;
}
.middle-logo {
  position: absolute;
  top: 8%;
  right: 45%;
}

.middle-logo img {
  width: 200px;
}

.logo-footer img {
  width: 200px;
  height: auto;
}
.logo-footer {
  margin-top: 30px;
}
.about-footer {
  margin-left: auto;
  color: white;
  width: 60vw;
  height: 10vw;
  text-align: left;
  float: right;
  margin-top: 30px;
  line-height: 3em;
}

.footer {
  margin-left: 30px;
}

.about-footer th {
  font-size: 18px;
}

body {
  margin-right: 30px;
  margin-left: 30px;
}

.questions-section {
  justify-content: space-between;
}

.questions-img {
  margin-top: 60px;
}

.estate .estate-card-icons-description img {
  width: 20px;
}

.estate-card-icons-description {
  display: flex;
  gap: 15px;
}

.card-hero-medium {
  flex-direction: column;
  justify-content: center;
}

.card-hero-medium img {
  width: 70px;
  margin-left: 30px;
}

.final-section {
  display: flex;
  width: 95%;
  margin-right: 30px;
}

.final-section .content-final-section {
  width: 90vw;
}

div.review button.Read-more {
  width: fit-content;
  background-color: black;
  color: white;
  border: 3px solid rgb(37, 37, 37);
}

.review-section {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.questions-section {
  display: flex;
}

.review {
  padding: 10px;
  color: white;
  display: flex;
  width: 27vw;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  border: 3px solid rgb(37, 37, 37);
}

.real-estatees {
  margin-top: 50px;
}

.action-button-estates {
  display: flex;
}

.price-header {
  color: white;
  font-size: 18px;
}

.estate img {
  width: 100%;
}

.price-label {
  color: rgb(153, 153, 153);
  font-size: 14px;
}

.price-estate-btn {
  margin-top: 15px;
  margin-left: 15px;
  border: 3px solid transparent;

  color: white;
  padding: 10px;
  border-radius: 14%;
  background-color: rgb(112, 69, 247);
}

.real-estatees {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}
.estate-header {
  color: white;
  font-size: 20px;
}

.estate {
  border: 3px solid rgb(37, 37, 37);
  line-height: 25px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 25vw;
  padding: 15px;
  color: rgb(153, 153, 153);
}

body {
  background-color: black;
}

.top-headers {
  margin-top: 30px;
  color: white;
  font-size: 30px;
}

.top-content {
  margin-top: 30px;
  color: white;
  color: rgb(153, 153, 153);
}

.hero-cards-2 {
  border: 3px solid rgb(37, 37, 37);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.card-hero-medium {
  border-radius: 7%;
  display: flex;
  padding: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgb(37, 37, 37);
  color: white;
  text-align: center;
}

.hero-card-header {
  font-size: 30px;
  color: white;
}

.card-hero-small {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(37, 37, 37);
  border: 3px solid rgb(37, 37, 37);
  padding: 10px;
  border-radius: 15%;
  color: rgb(153, 153, 153);
}

.more-info {
  margin-top: 15px;
  margin-left: 15px;

  border: 3px solid rgb(37, 37, 37);
  color: white;
  padding: 10px;
  border-radius: 14%;
  background-color: rgb(112, 69, 247);
}
.browse-properties {
  margin-top: 15px;
  margin-left: 15px;
  border: 3px solid transparent;

  color: white;
  padding: 10px;
  border-radius: 14%;
  background-color: rgb(112, 69, 247);
}

.Hero-section {
  display: flex;
  flex-direction: row;
}
.hero-left {
  color: white;
  background-color: black;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main-header {
  font-size: 30px;
}

.hero-image {
  width: 50%;
  height: 700px;
  display: flex;

  background-image: url("images/pic.png");
}
.hero-image img {
  float: right;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}
.first-header {
  height: 5vh;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  line-height: 40px;
  background-image: url("images/bar1.png");
}

.first-header u {
  margin-left: 10px;
}

.flex {
  display: flex;
}

.nav {
  display: flex;
}

.second-header {
  padding: 10px;
  justify-content: space-between;
  color: white;
  height: 4vh;
  font-size: 25px;
  background-color: rgb(26, 26, 26);
}
.logo {
  margin-left: 50px;
}
.contact-us {
  margin-right: 50px;
}

.nav-bar div {
  margin-left: 10px;
}
